#body {
    margin: 0px;
    background-color: #0f0f0f;
}

header{
    width: 100%;
    background-color: black;
    max-height: 100vh;
    display:inline-flex;
    position: relative;

}

.logo{
    padding: 10px 0px 10px 40px;
}

.nav > ul > li{
    list-style:none;
    display: inline;
    padding: 10px;
    color: #faf8f8;
}

.nav{
    position: absolute;
    top: 30%;
    left:50%;
}
    
.getfrenchisebtn{
    position: absolute;
    top: 30%;
    left:75%;
}

.getfrenchisebtn > .btn1{
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: #faf8f8;
    border: 1px solid white;
}

.orderbtn{
    position: absolute;
    top: 30%;
    left: 85%;   
}

.orderbtn > .btn2{
    padding: 10px;
    border-radius: 20px;
    background-color: red;
    color: #faf8f8;
    border: 1px solid red;
}

.banner > img{
    width: 100%;
    height: 600px;
}
.cardsheadings{
    background-color: black;
    width: 100%;
    height: 600px;
    color: #faf8f8;
    text-align: center;
    padding-top: 50px;
    font-family: Apercu;
}
.cardsheadings h1 > span {
    font-family: futurak;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 29px;

}
.cardsheadings > p{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}
.cards{
    display: inline-flex;
}
.cards > .Restaurant{
background-color: #faf8f8;
padding: 10px;
margin: 20px;
position: relative;
}

.cards > .express{
    background-color: #faf8f8;
    padding: 10px;
    margin: 20px;
}

.cards > .village{
    background-color: #faf8f8;
    padding: 10px;
    margin: 20px;
}
#btn{
    font-size: 16px;
    padding: 15px 40px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 1px solid white;
    position: absolute;
    top: 140%;
    left: 25%;
}
#btn1{
    font-size: 16px;
    padding: 15px 40px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 1px solid white;
    position: absolute;
    top: 165%;
    left: 45%;
}
#btn2{
    font-size: 16px;
    padding: 15px 40px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 1px solid white;
    position: absolute;
    top: 165%;
    left: 65%;
}
.midsec{
    background-color: #212529;
}
.midsec-head {
padding-top: 30px;
text-align: center;
color: #faf8f8;
}

.isl-add > table {
  width: 100%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  /* margin-top: 0%; */
}
.isl-add th {
    text-align: left;
    /* padding-top: 5%; */
    /* padding-left: 50px; */
    font-family: 'apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    
}


.isl-add h1{
    text-align: left;
    font-family: 'apercu';
    font-style: normal;
    font-weight: 500;
    /* font-size: 36px; */
    /* line-height: 50px; */
    color: #FFFFFF;
    /* padding-left: 10%; */
    margin-top: 0%;

}

.isl-add p{
    text-align: left;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0px;
}
.isl-add button{
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #f3eeee;
    /* padding-top: 15px; */
    margin-top: 30px;
    background-color: #212529;
}
.isl-add > p > button{
    text-align: left;
}

.fsd{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.fsd-heading{
    text-align: left;
    /* padding-top: 5%; */
    /* padding-left: 50px; */
    font-family: 'apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
}

.fsd h1 {
    text-align: left;
    font-family: 'apercu';
    font-style: normal;
    font-weight: 500;
    /* font-size: 36px; */
    /* line-height: 50px; */
    color: #FFFFFF;
    /* padding-left: 10%; */
    margin-top: 0%;
}

.fsd p {
    text-align: left;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0px;

}

.fsd button {
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #f3eeee;
    /* padding-top: 15px; */
    margin-top: 30px;
    background-color: #212529;
    align-self: start;
}


.bwp{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .bwp-heading{
      text-align: left;
      /* padding-top: 5%; */
      /* padding-left: 50px; */
      font-family: 'apercu';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.48em;
      text-transform: uppercase;
      color: #ED1C24;
  }
  
  .bwp h1 {
      text-align: left;
      font-family: 'apercu';
      font-style: normal;
      font-weight: 500;
      /* font-size: 36px; */
      /* line-height: 50px; */
      color: #FFFFFF;
      /* padding-left: 10%; */
      margin-top: 0%;
  }
  
  .bwp p {
      text-align: left;
      font-family: 'Apercu';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.7);
      margin-top: 0px;
  
  }
  
  .bwp button {
      width: 174px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 50px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 21px;
      color: #f3eeee;
      /* padding-top: 15px; */
      margin-top: 30px;
      background-color: #212529;
      align-self: start;
  }

 .sec-section{
background-color: black; 
padding-left: 30px;
padding-right: 3px;
}

.snp-heading{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 60px;
}
.exp {
    text-align: center;
    margin-bottom: 8px;
    font-family: 'butler';
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.loc-tb-1{
    height: 250px;
    object-fit: cover;
    margin: opx auto;
    width: 98%;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.red-heading h1{ 
    font-family: 'apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    text-align: center;
    margin-bottom: 8px;
   display: block;
    margin-top: 24px;
}

.snt-heading{ 
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.loc-add p{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 17px; */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    /* margin-bottom: 12px; */
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 36px;
    text-align: center;
}

.loc-add button{
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: white;
    FONT-VARIANT: JIS83;
    margin-top: 20px;
    padding-top: 15px;
    background-color: black;
    display: inline-block;
}

.loc-tb-1 img{
    height: 250px;
    object-fit: cover;
    width: 100%;
}
.village-card {
    background-color: black; 
    padding-left: 30px;
    padding-right: 30px;
    
}

.village-card h1{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
}
.red-heading h1{ 
    font-family: 'apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    text-align: center;
    margin-bottom: 8px;
   display: block;
    margin-top: 24px;
    text-align: left;
}
.village-card p{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 17px; */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    /* margin-bottom: 12px; */
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 36px;
    text-align: left;
}
.snt-head{ 
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.village-card button{
    width: 174px;
    height: 50px;
    border: 1px solid rgba(10, 231, 66, 0.3);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: white;
    FONT-VARIANT: JIS83;
    margin-top: 15px;
    padding-top: 15px;
    background-color: rgb(15, 235, 52);
    display: inline-block;
}

.village-card{
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}

.exp-frn{
    
    background-color: #0f0f0f;
    
}

.exp-frn th{
    text-align: center;
    width: 394px;
    padding: 20px;
    border: 10px solid;
    background: #FFFFFF;
}

.exp-frn .sm-head{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
    /* display: inline-block; */
}
.village-card .para span{
    font-weight: 600;
    margin-right: 8px;
    font-size: 24px;
}


.social-field{
    
    background-color: #0f0f0f;
    
}
.social-field h1{
    display: block;
    font-size: 2em;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.social-field th{
    position: relative;
    display: flex;
    text-align: center;
    
}
.social-field img{
    padding: 6px;
    width: 250px;
    height: 250px;
}
.social-field video{
    width: 250px;
    height: 250px;
    padding: 6px;
}

.footer{
    display: flex;
    position: relative;
}